//-
//- Text Elements
//-

mixin inputField(inputParams, params)
  .form-row(class=params.error !== undefined ? 'form-row-error' : '')
    label
      span.form-label-text #{params.label}
        - if (params.required)
          abbr(title='#{ (params.required == true ? 'This field is required' : params.required) }') *
      input.form-field(type='#{inputParams.type}', name='#{inputParams.name}', value='#{inputParams.value || ''}', placeholder=inputParams.placeholder, maxlength=inputParams.maxLength)
      mixin formRowErrorText(params.error)
    mixin formRowDescription(params.information)

mixin textField(inputParams, params)
  - inputParams.type = 'text'
  mixin inputField(inputParams, params)

mixin textFieldForObject(inputParams, params)
  - params.error = params.errors[inputParams.name];
  - inputParams.value = params.data[inputParams.name];
  mixin textField(inputParams, params)

mixin passwordField(inputParams, params)
  - inputParams.type = 'password'
  mixin inputField(inputParams, params)

mixin passwordFieldForObject(inputParams, params)
  - params.error = params.errors[inputParams.name]
  mixin passwordField(inputParams, params)
