!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='description', content=properties.description)
		meta(name='keywords', content=properties.keyWords)
		
		meta(property='og:title', content='')
		meta(property='og:type', content='')
		meta(property='og:description', content='')
		meta(property='og:site_name', content='')
		meta(property='og:url', content=properties.siteUrl)
		meta(property='og:admins', content='')
		meta(property='og:image', content='')
	
		//- SITE INFORMATION
		title=page.title

		//- CSS
		link(rel='stylesheet', type='text/css', href='/css/main/index.css', media='all')

		//- MOBILE
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		script
			document.getElementsByTagName('html')[0].setAttribute('class', 'js');

	body(class=page.section)
		#page
			include includes/header
			include includes/nav
			#main-content(class= page.layoutType ? 'layout-#{page.layoutType}' : 'layout-article')
				!= body
			include includes/footer

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js')
		script
			if (typeof jQuery === 'undefined') {
				document.write('<script src="/js/jquery-1.7.min.js" />');
			}
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js')
		script
			if (typeof jQuery.ui === 'undefined') {
				document.write('<script src="/js/jquery-ui-1.8.14.min.js" />');
			}
		script(src='/js/jquery.placeholder.js')