include ../../../views/mixins/formFields
include ../../../views/mixins/file

#column-wide
	h1  
		a(href='/admin/#{crudDelegate.urlName}') #{crudDelegate.plural}
		|  / Add/Edit #{crudDelegate.name}

#column-primary
	form(method='post', enctype='multipart/form-data')
		//- h2 #{crudDelegate.name} Details
		- if (Object.keys(errors).length > 0)
			.error.error-summary
				h4 Please check your responses and try again
				- each error in unshownErrors
					p= errors[error]
		- each group in viewSchema.groups
			fieldset
				- if (typeof group.name !== 'undefined')
					h3=group.name
				- if (typeof group.description !== 'undefined')
					p.group-description=group.description
				- each propertyMeta, key in group.properties
					- if (propertyMeta.form)
						- var name = crudDelegate.entityDelegate.propertyName(key)
						- if ([undefined, 'url'].indexOf(propertyMeta.type) !== -1 || propertyMeta.type === 'link')
							mixin textFieldForObject(name, key, entity, propertyMeta.required, errors, propertyMeta.info)
						- if (propertyMeta.type === 'dropdown')
							mixin dropdownForObject(name, key, entity, propertyMeta.required, errors, propertyMeta.options, propertyMeta.info)
						- if (propertyMeta.type === 'textbox')
							mixin textboxFieldForObject('', name, key, entity, propertyMeta.required, errors, propertyMeta.info)
						- if (propertyMeta.type === 'checkbox')
							mixin checkboxFieldForObject(name, key, entity, propertyMeta.required, errors, propertyMeta.info)
						- if (propertyMeta.type === 'file')
							mixin fileFieldForObject(name, key, entity, propertyMeta.required, errors, propertyMeta.info)
						- if (propertyMeta.type === 'hidden')
							input(type='hidden', name=key, value=entity[key])
		#actions
			input.button(type='submit',value='Submit')