include ../../../views/mixins/file

h1 #{crudDelegate.plural}

nav.breadcrumb
	ul
		li.nav-home: a(href='/admin') Home
		li #{crudDelegate.plural}

p Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim eleifend nibh porttitor.

include includes/list-actions

.panel-list
	h3 All Administrators

	include includes/filter-form
	include includes/filter-summary

	- if (dataSet.length === 0)
		p
			| Cannot find any, would you like to 
			a(href='/admin/#{crudDelegate.urlName}/new') add one?

	- else
		table.highlight
			thead
				tr
					- each group in viewSchema.groups
						- each val, key in group.properties
							- if (val.list)
								th=crudDelegate.entityDelegate.propertyName(key)
			tbody
				- each entity in dataSet
					- var entityName = entity[viewSchema['title']]
					tr
						- each group in viewSchema.groups
							- each propertyMeta, key in group.properties
								- if (propertyMeta.list)
									- if (viewSchema.title === key)
										td.title
											strong: a(href='/admin/#{crudDelegate.urlName}/#{entity[crudDelegate.idProperty]}')=propertyMeta.format(entityName)
											ul.row-actions
												li: a(href='/admin/#{crudDelegate.urlName}/#{entity[crudDelegate.idProperty]}/edit') Edit
												- if (typeof viewSchema.removeControls === 'undefined' || typeof viewSchema.removeControls.delete === 'undefined')
													li: a(href='/admin/#{crudDelegate.urlName}/#{entity[crudDelegate.idProperty]}/delete').delete Delete
									- else
										- if (propertyMeta.type === 'checkbox')
											td=booleanFormatter(entity[key])
										- else if (propertyMeta.type === 'file')
											td.thumbnail
												mixin displayImage(100, 100, entity[key][0], crudDelegate.name + ' - ' + entityName, 'crop')
										- else if (propertyMeta.type === 'link')
											td
												a(href='/#{crudDelegate.urlName}/' + entity[key], target='_blank')=entity[key]
										- if (propertyMeta.type === 'dateTime')
											td=dateTime(propertyMeta.format(entity[key]))
										- else
											td=propertyMeta.format(entity[key])