include ../../../views/mixins/file

h1 View #{crudDelegate.name}

nav.breadcrumb
	ul
		li.nav-home: a(href='/admin') Home
		li: a(href='/admin/#{crudDelegate.urlName}') #{crudDelegate.plural}
		li View #{crudDelegate.name}

p Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim eleifend nibh porttitor.

include includes/view-actions

//-h2 #{crudDelegate.name} Details
- each group in viewSchema.groups
	.panel-group
		- if (typeof group.name !== 'undefined')
			h3=group.name
		- if (typeof group.description !== 'undefined')
			p.group-description=group.description
			dl
				- each propertyMeta, key in group.properties
					- if (propertyMeta.view)
						dt=crudDelegate.entityDelegate.propertyName(key)
						dd
							- if (propertyMeta.type === 'file')
								mixin downloadLink(entity[key], false)
							- else if (propertyMeta.type === 'dateTime')
								p=dateTime(propertyMeta.format(entity[key]))
							- else if (propertyMeta.type === 'checkbox')
								p=booleanFormatter(entity[key])
							- else
								#{propertyMeta.format(entity[key])}