extend ../layout

block content

  include ../mixins/form-elements/file
  include ../mixins/grouped-multiselect-mixin

  header.page-header
    h1 #{model.plural}

    nav.breadcrumb
      ul
        li.nav-home: a(href='/admin') Home
        li #{model.plural}

    include includes/list-actions

  .panel-list
    h3 All #{model.plural}

    include includes/list-filter-form
    include includes/filter-summary

    - if (dataSet.length === 0)
      p
        | No records found.
      - if (adminIsAllowed(model.name, 'create')) 
        p Would you like to 
          a(href='/admin/#{model.slug}/new') add one
          | ?

    - else
      table.table-highlight.table-sortable
        thead
          tr
            - each group in viewSchema.groups
              - each val, key in group.properties
                - if (val.list)
                  - var property = model.schema.propertyName(key)
                  - var directionClass = ''
                  - if (url.Sort === key)
                    - if (url.Direction === 'asc')
                      - directionClass = 'sort-asc'
                    - else if (url.Direction === 'desc')
                      - directionClass = 'sort-desc'
                  th(class=directionClass)
                    a(href=querystring.getSort(url, key))=property
        tbody
          - each entity in dataSet
            - var entityName = entity[viewSchema['title']]
            tr
              - each group in viewSchema.groups
                - each propertyMeta, key in group.properties
                  - if (propertyMeta.list)
                    - if (viewSchema.title === key)
                      td.title
                        strong: a(href='/admin/#{model.slug}/#{entity[model.idProperty]}')=propertyMeta.format(entityName)
                        - if (adminIsAllowed(model.name, 'update')) 
                          ul.table-row-actions
                            li: a(href='/admin/#{model.slug}/#{entity[model.idProperty]}/edit') Edit
                            li
                              include includes/delete-button
                    - else
                      - if (propertyMeta.type === 'checkbox')
                        td=booleanFormatter(entity[key])
                      - else if (propertyMeta.type === 'file')
                        td.thumbnail
                          - if (entity[key])
                            mixin displayImage(100, 100, entity[key][0], model.name + ' - ' + entityName, 'crop')
                      - else if (propertyMeta.type === 'link')
                        td
                          a(href=entity[key], target='_blank')=entity[key]
                      - else if (propertyMeta.type === 'dateTime')
                        td=dateTime(propertyMeta.format(entity[key]))
                      - else if (propertyMeta.type === 'groupedMultiselect')
                        td
                          mixin groupedMultiselectMixin(entity[key])
                      - else
                        td=propertyMeta.format(entity[key])

  include includes/pagination