!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name='description', content=properties.description)
      meta(name='keywords', content=properties.keyWords)
    
      //- SITE INFORMATION
      title Error #{status}

    block styles
      //- CSS
      link(rel='stylesheet', type='text/css', href=versionPath('/main/css/index.css'), media='all')

  body(class='error')

    #container
      block header
        include includes/header

      block nav
        include includes/nav
      
      #main-content
        h2 Error #{status}
        - if (status === 404)
          p
            | The item you requested could not be found. Maybe the link
            | you clicked was incorrect or out of date. Head back to the 
            a(href='/') homepage
            |  and see if you can find what you're looking for.

         - else
          p
            | Oops, something went wrong at this end. You can try heading
            | back to the  
            a(href='/') homepage
            |  to see if that works. Otherwise check back later.

      block footer
        include includes/footer