extend ../../admin/views/layout

block content

  include ../../admin/views/mixins/form-fields
  include ../../admin/views/mixins/file

  h1
    -if (page.action == 'create')
      | New #{model.name}
    -else
      | Edit #{model.name}

  nav.breadcrumb
    ul
      li.nav-home: a(href='/admin') Home
      li: a(href='/admin/#{model.slug}') #{model.plural}
      li
        -if (page.action == 'create')
          | New #{model.name}
        -else
          | Edit #{model.name}

  p Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim eleifend nibh porttitor.

  -if (page.action == 'update')
    include ../../admin/views/generic/includes/form-actions

  form(method='post', enctype='multipart/form-data')
    - if (Object.keys(errors).length > 0)
      .notification.error
        h4 Please check the form and try again

    fieldset
      h3 Article Details
      p These are the details for an Article
          input(type='hidden', name='_id', value=entity._id)
          mixin textFieldForObject({ name: 'title' }, { label: 'Title', data: entity, required: true, errors: errors})
          mixin dropdownForObject({ name: 'section' }, { label: 'Section', data: entity, required: true, errors: errors, list: sectionsDropdown })
          mixin textFieldForObject({ name: 'slug' }, {label: 'Slug', data: entity, required: true, errors: errors, information: 'This will be part of the url. Leave blank to auto-generate'})
          mixin textboxFieldForObject({ name: 'summary', class: 'short' }, { label: 'Summary', data: entity, required: true, errors: errors, information: 'If you leave this blank a first part of the main content will be used.' })
          mixin dropdownForObject({ name: 'author' }, { label: 'Author', data: (entity['author'] === null ? currentAdmin : entity), required: true, errors: errors, list: adminsDropdown })
          mixin checkboxFieldForObject({ name: 'live' }, { label: 'Live', data: entity, required: true, errors: errors})
          mixin checkboxFieldForObject({ name: 'comments' }, { label: 'Comments', data: entity, required: true, errors: errors})
          mixin datepickerFieldForObject({ name: 'publishedDate' }, { label: 'Published Date', data: entity, required: true, errors: errors, information: 'This is used to order the articles' })

    fieldset
      h3 Article Content
      p This is the content for an Article
        mixin dropdownForObject({ name: 'type' }, { label: 'Type', data: entity, required: true, errors: errors, list: typesDropdown })
        mixin textboxFieldForObject({ name: 'body', class: 'rich-editor tallest' }, { formRowClass: 'full', label: '', data: entity, required: false, errors: errors })

    fieldset
      h3 Article Images
      mixin fileFieldForObject({ name: 'images' }, { label: 'Images', data: entity, required: false, errors: errors })

    fieldset.actions
      a.button(href='/admin/#{model.slug}') Cancel
      input.button.primary(type='submit',value='Submit')